https://www.ons.gov.uk/peoplepopulationandcommunity/healthandsocialcare/causesofdeath/datasets/alcoholspecificdeathsintheukmaindataset

In [1]:
from gssutils import *
scraper = Scraper('https://www.ons.gov.uk/peoplepopulationandcommunity/healthandsocialcare/causesofdeath/datasets/alcoholspecificdeathsintheukmaindataset')
scraper

WARNING:Unexpected "next release" field: ('Unknown string format:', 'To be announced')

## Alcohol-specific deaths in the UK

Annual data on age-standardised and age-specific alcohol-specific death rates in the UK, its constituent countries and regions of England.

### Distributions

1. Alcohol-specific deaths in the UK ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/healthandsocialcare/causesofdeath/datasets/alcoholspecificdeathsintheukmaindataset/current/alcoholspecificdeathsintheukmaindataset.xls))

In [2]:
next_table = pd.DataFrame()
sheet = scraper.distribution().as_databaker()

In [3]:
%%capture
%run "Tab1.ipynb"
next_table = pd.concat([next_table, Final_table])

%run "Tab2.ipynb"
next_table = pd.concat([next_table, Final_table])

%run "Tab3.ipynb"
next_table = pd.concat([next_table, Final_table])

%run "Tab4.ipynb"
next_table = pd.concat([next_table, Final_table])

%run "Tab5.ipynb"
next_table = pd.concat([next_table, Final_table])

%run "Tab6.ipynb"
next_table = pd.concat([next_table, Final_table])

%run "Tab7.ipynb"
next_table = pd.concat([next_table, Final_table])

%run "Tab8.ipynb"
next_table = pd.concat([next_table, Final_table])

In [4]:
next_table['Age'] = next_table['Age'].map(
    lambda x: {
        'All' : 'all', 
        '01-04' : 'agq/1-4',
        '05-09': 'agq/5-9' ,
        '10-14': 'agq/10-14',
        '15-19': 'agq/15-19',
        '20-24': 'agq/20-24',
        '25-29': 'agq/25-29',
        '30-34': 'agq/30-34',
        '35-39': 'agq/35-39',
        '40-44': 'agq/40-44',
        '45-49': 'agq/45-49',
        '50-54': 'agq/50-54',
        '55-59': 'agq/55-59',
        '60-64': 'agq/60-64',
        '65-69': 'agq/65-69',
        '70-74': 'agq/70-74',
        '75-79': 'agq/75-79',
        '80-84': 'agq/80-84',
        '85+'  : 'agq/85-plus',
        '<1'  :  'agq/under-1'
        
        }.get(x, x))

In [5]:
next_table.head(2)

,Age,Alcohol Specific Deaths,Geography,Lower 95% confidence limit,Measure Type,Sex,Unit,Upper 95% confidence limit,Value,Year
0,all,Deaths,K02000001,0,Count,T,deaths,0,5701,2001
1,all,"Rate per 100,000 people",K02000001,10,"Rate per 100,000 persons",T,deaths,10,10,2001

In [6]:
next_table.rename(index= str, columns= {'Upper 95% confidence limit':'CI Upper','Lower 95% confidence limit':'CI Lower'}, inplace = True)

In [7]:
next_table['Alcohol Specific Deaths'].unique()

array(['Deaths', 'Rate per 100,000 people', 'Rate per 100,000 females',
       'Rate per 100,000 males'], dtype=object)

In [8]:
next_table['CI Lower'] = next_table['CI Lower'].map(
    lambda x: {
        '' : '0',
        }.get(x, x))

In [9]:
next_table['CI Upper'] = next_table['CI Upper'].map(
    lambda x: {
        '' : '0',
        }.get(x, x))

In [10]:
next_table = next_table[['Age', 'Geography', 'CI Lower', 'Measure Type', 'Sex', 'Unit', 'CI Upper', 'Value', 'Year']]

In [11]:
from pathlib import Path
out = Path('out')
out.mkdir(exist_ok=True)
next_table.to_csv(out / 'observations.csv', index = False)

In [12]:
scraper.dataset.family = 'health'
with open(out / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())