Table 5: Alcohol-specific age-standardised death rates per 100,000 population, deaths registered in Northern Ireland, 2001 to 2016

In [1]:
from gssutils import *

if is_interactive():
    scraper = Scraper('https://www.ons.gov.uk/peoplepopulationandcommunity/healthandsocialcare/causesofdeath/datasets/alcoholspecificdeathsintheukmaindataset')
    sheet = scraper.distribution().as_databaker()

WARNING:Unexpected "next release" field: Unknown string format

In [2]:
tab = next(tab for tab in sheet if tab.name=='Table 5')

In [3]:
cell = tab.filter('Year')
cell.assert_one()
Sex = cell.shift(0,-1).expand(RIGHT).is_not_whitespace().is_not_blank()
year = cell.expand(DOWN).is_not_whitespace().is_not_blank().is_number()
deaths = cell.shift(1,0).expand(RIGHT).is_not_whitespace().is_not_blank()
observations = deaths.shift(0,1).expand(DOWN).is_not_whitespace().is_not_blank()
Dimensions = [
            HDim(year,'Year',DIRECTLY,LEFT),
            HDim(Sex,'Sex',CLOSEST,LEFT),
            HDim(deaths, 'Alcohol Specific Deaths',DIRECTLY,ABOVE),
            HDimConst('Measure Type', 'Count'),
            HDimConst('Unit','deaths')
            ]
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
if is_interactive():
    savepreviewhtml(c1)
    
new_table = c1.topandas()
import numpy as np
new_table.rename(columns={'OBS': 'Value'}, inplace=True)
new_table['Value'] = new_table['Value'].astype(int)
new_table['Year'] = new_table['Year'].apply(lambda x: pd.to_numeric(x, downcast='integer'))

In [4]:
nt1 = new_table[new_table['Alcohol Specific Deaths'] == 'Lower 95% confidence limit']

In [5]:
nt1.columns = ['Lower 95% confidence limit' if x=='Value' else x for x in new_table.columns]

In [6]:
nt2 = new_table[new_table['Alcohol Specific Deaths'] == 'Upper 95% confidence limit']

In [7]:
nt2.columns = ['Upper 95% confidence limit' if x=='Value' else x for x in new_table.columns]

In [8]:
new_table = new_table[new_table['Alcohol Specific Deaths'] != 'Upper 95% confidence limit']

In [9]:
new_table = new_table[new_table['Alcohol Specific Deaths'] != 'Lower 95% confidence limit']

In [10]:
Final_table = pd.merge(new_table, nt1, how = 'inner', on = ['Year','Sex'])

In [11]:
Final_table = Final_table[['Value','Year','Sex','Alcohol Specific Deaths_x','Measure Type_x','Unit_x',
                           'Lower 95% confidence limit']]

In [12]:
Final_table = pd.merge(Final_table, nt2, how = 'inner', on = ['Year','Sex'])

In [13]:
Final_table = Final_table[['Year','Sex','Alcohol Specific Deaths_x','Measure Type','Value','Lower 95% confidence limit', 'Upper 95% confidence limit','Unit']]

In [14]:
Final_table.columns = ['Alcohol Specific Deaths' if x=='Alcohol Specific Deaths_x' else x for x in Final_table.columns]

In [15]:
def user_perc(x,y):
    
    if str(x) == 'Deaths':
        return ''
    else:
        return y
    
Final_table['Lower 95% confidence limit'] = Final_table.apply(lambda row: user_perc(row['Alcohol Specific Deaths'],row['Lower 95% confidence limit']), axis = 1)

In [16]:
def user_perc(x,y):
    
    if str(x) == 'Deaths':
        return ''
    else:
        return y
    
Final_table['Upper 95% confidence limit'] = Final_table.apply(lambda row: user_perc(row['Alcohol Specific Deaths'],row['Upper 95% confidence limit']), axis = 1)

In [17]:
Final_table['Alcohol Specific Deaths'] = Final_table['Alcohol Specific Deaths'].str.rstrip('1')

In [18]:
Final_table['Sex'] = Final_table['Sex'].map(
    lambda x: {
        'All Persons' : 'T', 
        'Males' : 'M',
        'Females': 'F'         
        }.get(x, x))

In [19]:
Final_table['Age'] =  'All'

In [20]:
Final_table['Geography'] =  'N92000002'

In [21]:
def user_perc(x,y):
    
    if str(x) == 'Deaths':
        return 'Count'
    else:
        return 'Rate per 100,000 persons'
    
Final_table['Measure Type'] = Final_table.apply(lambda row: user_perc(row['Alcohol Specific Deaths'],row['Measure Type']), axis = 1)

In [22]:
Final_table

,Year,Sex,Alcohol Specific Deaths,Measure Type,Value,Lower 95% confidence limit,Upper 95% confidence limit,Unit,Age,Geography
0,2001,T,Deaths,Count,178,,,deaths,All,N92000002
1,2001,T,"Rate per 100,000 people","Rate per 100,000 persons",12,10,14,deaths,All,N92000002
2,2001,F,Deaths,Count,61,,,deaths,All,N92000002
3,2001,F,"Rate per 100,000 females","Rate per 100,000 persons",8,6,10,deaths,All,N92000002
4,2001,M,Deaths,Count,117,,,deaths,All,N92000002
5,2001,M,"Rate per 100,000 males","Rate per 100,000 persons",17,13,20,deaths,All,N92000002
6,2002,T,Deaths,Count,194,,,deaths,All,N92000002
7,2002,T,"Rate per 100,000 people","Rate per 100,000 persons",13,11,15,deaths,All,N92000002
8,2002,F,Deaths,Count,53,,,deaths,All,N92000002
9,2002,F,"Rate per 100,000 females","Rate per 100,000 persons",7,5,9,deaths,All,N92000002
10,2002,M,Deaths,Count,141,,,deaths,All,N92000002
11,2002,M,"Rate per 100,000 males","Rate per 100,000 persons",20,16,24,deaths,All,N92000002
12,2003,T,Deaths,Count,175,,,deaths,All,N92000002
13,2003,T,"Rate per 100,000 people","Rate per 100,000 persons",12,10,14,deaths,All,N92000002
14,2003,F,Deaths,Count,63,,,deaths,All,N92000002
15,2003,F,"Rate per 100,000 females","Rate per 100,000 persons",8,6,10,deaths,All,N92000002
16,2003,M,Deaths,Count,112,,,deaths,All,N92000002
17,2003,M,"Rate per 100,000 males","Rate per 100,000 persons",16,13,19,deaths,All,N92000002
18,2004,T,Deaths,Count,204,,,deaths,All,N92000002
19,2004,T,"Rate per 100,000 people","Rate per 100,000 persons",13,11,15,deaths,All,N92000002
20,2004,F,Deaths,Count,62,,,deaths,All,N92000002
21,2004,F,"Rate per 100,000 females","Rate per 100,000 persons",8,6,10,deaths,All,N92000002
22,2004,M,Deaths,Count,142,,,deaths,All,N92000002
23,2004,M,"Rate per 100,000 males","Rate per 100,000 persons",19,16,22,deaths,All,N92000002
24,2005,T,Deaths,Count,217,,,deaths,All,N92000002
25,2005,T,"Rate per 100,000 people","Rate per 100,000 persons",14,12,16,deaths,All,N92000002
26,2005,F,Deaths,Count,62,,,deaths,All,N92000002
27,2005,F,"Rate per 100,000 females","Rate per 100,000 persons",8,6,10,deaths,All,N92000002
28,2005,M,Deaths,Count,155,,,deaths,All,N92000002
29,2005,M,"Rate per 100,000 males","Rate per 100,000 persons",20,17,24,deaths,All,N92000002
...,...,...,...,...,...,...,...,...,...,...
72,2013,T,Deaths,Count,206,,,deaths,All,N92000002
73,2013,T,"Rate per 100,000 people","Rate per 100,000 persons",12,10,13,deaths,All,N92000002
74,2013,F,Deaths,Count,55,,,deaths,All,N92000002
75,2013,F,"Rate per 100,000 females","Rate per 100,000 persons",6,4,8,deaths,All,N92000002
76,2013,M,Deaths,Count,151,,,deaths,All,N92000002
77,2013,M,"Rate per 100,000 males","Rate per 100,000 persons",18,15,21,deaths,All,N92000002
78,2014,T,Deaths,Count,219,,,deaths,All,N92000002
79,2014,T,"Rate per 100,000 people","Rate per 100,000 persons",12,11,14,deaths,All,N92000002
80,2014,F,Deaths,Count,64,,,deaths,All,N92000002
81,2014,F,"Rate per 100,000 females","Rate per 100,000 persons",7,5,9,deaths,All,N92000002
82,2014,M,Deaths,Count,155,,,deaths,All,N92000002
83,2014,M,"Rate per 100,000 males","Rate per 100,000 persons",18,15,21,deaths,All,N92000002
84,2015,T,Deaths,Count,282,,,deaths,All,N92000002
85,2015,T,"Rate per 100,000 people","Rate per 100,000 persons",16,14,18,deaths,All,N92000002
86,2015,F,Deaths,Count,97,,,deaths,All,N92000002
87,2015,F,"Rate per 100,000 females","Rate per 100,000 persons",11,8,13,deaths,All,N92000002
88,2015,M,Deaths,Count,185,,,deaths,All,N92000002
89,2015,M,"Rate per 100,000 males","Rate per 100,000 persons",22,18,25,deaths,All,N92000002
90,2016,T,Deaths,Count,289,,,deaths,All,N92000002
91,2016,T,"Rate per 100,000 people","Rate per 100,000 persons",16,14,18,deaths,All,N92000002
92,2016,F,Deaths,Count,105,,,deaths,All,N92000002
93,2016,F,"Rate per 100,000 females","Rate per 100,000 persons",11,9,14,deaths,All,N92000002
94,2016,M,Deaths,Count,184,,,deaths,All,N92000002
95,2016,M,"Rate per 100,000 males","Rate per 100,000 persons",22,18,25,deaths,All,N92000002
96,2017,T,Deaths,Count,303,,,deaths,All,N92000002
97,2017,T,"Rate per 100,000 people","Rate per 100,000 persons",17,15,19,deaths,All,N92000002
98,2017,F,Deaths,Count,91,,,deaths,All,N92000002
99,2017,F,"Rate per 100,000 females","Rate per 100,000 persons",10,8,12,deaths,All,N92000002
100,2017,M,Deaths,Count,212,,,deaths,All,N92000002
101,2017,M,"Rate per 100,000 males","Rate per 100,000 persons",25,21,28,deaths,All,N92000002