Table 6: Alcohol-specific age-standardised death rates per 100,000 population, deaths registered in Scotland, 2001 to 2016

In [1]:
from gssutils import *

if is_interactive():
    scraper = Scraper('https://www.ons.gov.uk/peoplepopulationandcommunity/healthandsocialcare/causesofdeath/datasets/alcoholspecificdeathsintheukmaindataset')
    sheet = scraper.distribution().as_databaker()

WARNING:Unexpected "next release" field: Unknown string format

In [2]:
tab = next(tab for tab in sheet if tab.name=='Table 6')

In [3]:
cell = tab.filter('Year')
cell.assert_one()
Sex = cell.shift(0,-1).expand(RIGHT).is_not_whitespace().is_not_blank()
year = cell.expand(DOWN).is_not_whitespace().is_not_blank().is_number()
deaths = cell.shift(1,0).expand(RIGHT).is_not_whitespace().is_not_blank()
observations = deaths.shift(0,1).expand(DOWN).is_not_whitespace().is_not_blank()
Dimensions = [
            HDim(year,'Year',DIRECTLY,LEFT),
            HDim(Sex,'Sex',CLOSEST,LEFT),
            HDim(deaths, 'Alcohol Specific Deaths',DIRECTLY,ABOVE),
            HDimConst('Measure Type', 'Count'),
            HDimConst('Unit','deaths')
            ]
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
if is_interactive():
    savepreviewhtml(c1)
    
new_table = c1.topandas()
import numpy as np
new_table.rename(columns={'OBS': 'Value'}, inplace=True)
new_table['Value'] = new_table['Value'].astype(int)
new_table['Year'] = new_table['Year'].apply(lambda x: pd.to_numeric(x, downcast='integer'))

In [4]:
nt1 = new_table[new_table['Alcohol Specific Deaths'] == 'Lower 95% confidence limit']

In [5]:
nt1.columns = ['Lower 95% confidence limit' if x=='Value' else x for x in new_table.columns]

In [6]:
nt2 = new_table[new_table['Alcohol Specific Deaths'] == 'Upper 95% confidence limit']

In [7]:
nt2.columns = ['Upper 95% confidence limit' if x=='Value' else x for x in new_table.columns]

In [8]:
new_table = new_table[new_table['Alcohol Specific Deaths'] != 'Upper 95% confidence limit']

In [9]:
new_table = new_table[new_table['Alcohol Specific Deaths'] != 'Lower 95% confidence limit']

In [10]:
Final_table = pd.merge(new_table, nt1, how = 'inner', on = ['Year','Sex'])

In [11]:
Final_table = Final_table[['Value','Year','Sex','Alcohol Specific Deaths_x','Measure Type_x','Unit_x',
                           'Lower 95% confidence limit']]

In [12]:
Final_table = pd.merge(Final_table, nt2, how = 'inner', on = ['Year','Sex'])

In [13]:
Final_table = Final_table[['Year','Sex','Alcohol Specific Deaths_x','Measure Type','Value','Lower 95% confidence limit', 'Upper 95% confidence limit','Unit']]

In [14]:
Final_table.columns = ['Alcohol Specific Deaths' if x=='Alcohol Specific Deaths_x' else x for x in Final_table.columns]

In [15]:
def user_perc(x,y):
    
    if str(x) == 'Deaths':
        return ''
    else:
        return y
    
Final_table['Lower 95% confidence limit'] = Final_table.apply(lambda row: user_perc(row['Alcohol Specific Deaths'],row['Lower 95% confidence limit']), axis = 1)

In [16]:
def user_perc(x,y):
    
    if str(x) == 'Deaths':
        return ''
    else:
        return y
    
Final_table['Upper 95% confidence limit'] = Final_table.apply(lambda row: user_perc(row['Alcohol Specific Deaths'],row['Upper 95% confidence limit']), axis = 1)

In [17]:
Final_table['Alcohol Specific Deaths'] = Final_table['Alcohol Specific Deaths'].str.rstrip('1')

In [18]:
Final_table['Sex'] = Final_table['Sex'].map(
    lambda x: {
        'All Persons' : 'T', 
        'Males' : 'M',
        'Females': 'F'         
        }.get(x, x))

In [19]:
Final_table['Age'] =  'All'

In [20]:
Final_table['Geography'] =  'S92000003'

In [21]:
def user_perc(x,y):
    
    if str(x) == 'Deaths':
        return 'Count'
    else:
        return 'Rate per 100,000 persons'
    
Final_table['Measure Type'] = Final_table.apply(lambda row: user_perc(row['Alcohol Specific Deaths'],row['Measure Type']), axis = 1)

In [22]:
Final_table

,Year,Sex,Alcohol Specific Deaths,Measure Type,Value,Lower 95% confidence limit,Upper 95% confidence limit,Unit,Age,Geography
0,2001,T,Deaths,Count,1228,,,deaths,All,S92000003
1,2001,T,"Rate per 100,000 people","Rate per 100,000 persons",26,24,27,deaths,All,S92000003
2,2001,F,Deaths,Count,359,,,deaths,All,S92000003
3,2001,F,"Rate per 100,000 females","Rate per 100,000 persons",14,13,16,deaths,All,S92000003
4,2001,M,Deaths,Count,869,,,deaths,All,S92000003
5,2001,M,"Rate per 100,000 males","Rate per 100,000 persons",39,36,41,deaths,All,S92000003
6,2002,T,Deaths,Count,1334,,,deaths,All,S92000003
7,2002,T,"Rate per 100,000 people","Rate per 100,000 persons",28,26,29,deaths,All,S92000003
8,2002,F,Deaths,Count,400,,,deaths,All,S92000003
9,2002,F,"Rate per 100,000 females","Rate per 100,000 persons",16,14,17,deaths,All,S92000003
10,2002,M,Deaths,Count,934,,,deaths,All,S92000003
11,2002,M,"Rate per 100,000 males","Rate per 100,000 persons",41,38,44,deaths,All,S92000003
12,2003,T,Deaths,Count,1354,,,deaths,All,S92000003
13,2003,T,"Rate per 100,000 people","Rate per 100,000 persons",28,26,29,deaths,All,S92000003
14,2003,F,Deaths,Count,397,,,deaths,All,S92000003
15,2003,F,"Rate per 100,000 females","Rate per 100,000 persons",15,14,17,deaths,All,S92000003
16,2003,M,Deaths,Count,957,,,deaths,All,S92000003
17,2003,M,"Rate per 100,000 males","Rate per 100,000 persons",42,39,45,deaths,All,S92000003
18,2004,T,Deaths,Count,1331,,,deaths,All,S92000003
19,2004,T,"Rate per 100,000 people","Rate per 100,000 persons",27,25,28,deaths,All,S92000003
20,2004,F,Deaths,Count,386,,,deaths,All,S92000003
21,2004,F,"Rate per 100,000 females","Rate per 100,000 persons",15,13,16,deaths,All,S92000003
22,2004,M,Deaths,Count,945,,,deaths,All,S92000003
23,2004,M,"Rate per 100,000 males","Rate per 100,000 persons",40,38,43,deaths,All,S92000003
24,2005,T,Deaths,Count,1354,,,deaths,All,S92000003
25,2005,T,"Rate per 100,000 people","Rate per 100,000 persons",27,26,29,deaths,All,S92000003
26,2005,F,Deaths,Count,431,,,deaths,All,S92000003
27,2005,F,"Rate per 100,000 females","Rate per 100,000 persons",16,15,18,deaths,All,S92000003
28,2005,M,Deaths,Count,923,,,deaths,All,S92000003
29,2005,M,"Rate per 100,000 males","Rate per 100,000 persons",39,37,42,deaths,All,S92000003
...,...,...,...,...,...,...,...,...,...,...
72,2013,T,Deaths,Count,1002,,,deaths,All,S92000003
73,2013,T,"Rate per 100,000 people","Rate per 100,000 persons",19,17,20,deaths,All,S92000003
74,2013,F,Deaths,Count,308,,,deaths,All,S92000003
75,2013,F,"Rate per 100,000 females","Rate per 100,000 persons",11,10,12,deaths,All,S92000003
76,2013,M,Deaths,Count,694,,,deaths,All,S92000003
77,2013,M,"Rate per 100,000 males","Rate per 100,000 persons",27,25,29,deaths,All,S92000003
78,2014,T,Deaths,Count,1036,,,deaths,All,S92000003
79,2014,T,"Rate per 100,000 people","Rate per 100,000 persons",19,18,20,deaths,All,S92000003
80,2014,F,Deaths,Count,324,,,deaths,All,S92000003
81,2014,F,"Rate per 100,000 females","Rate per 100,000 persons",11,10,13,deaths,All,S92000003
82,2014,M,Deaths,Count,712,,,deaths,All,S92000003
83,2014,M,"Rate per 100,000 males","Rate per 100,000 persons",28,26,30,deaths,All,S92000003
84,2015,T,Deaths,Count,1045,,,deaths,All,S92000003
85,2015,T,"Rate per 100,000 people","Rate per 100,000 persons",19,18,20,deaths,All,S92000003
86,2015,F,Deaths,Count,334,,,deaths,All,S92000003
87,2015,F,"Rate per 100,000 females","Rate per 100,000 persons",12,10,13,deaths,All,S92000003
88,2015,M,Deaths,Count,711,,,deaths,All,S92000003
89,2015,M,"Rate per 100,000 males","Rate per 100,000 persons",27,25,29,deaths,All,S92000003
90,2016,T,Deaths,Count,1139,,,deaths,All,S92000003
91,2016,T,"Rate per 100,000 people","Rate per 100,000 persons",21,19,22,deaths,All,S92000003
92,2016,F,Deaths,Count,342,,,deaths,All,S92000003
93,2016,F,"Rate per 100,000 females","Rate per 100,000 persons",12,10,13,deaths,All,S92000003
94,2016,M,Deaths,Count,797,,,deaths,All,S92000003
95,2016,M,"Rate per 100,000 males","Rate per 100,000 persons",30,28,33,deaths,All,S92000003
96,2017,T,Deaths,Count,1120,,,deaths,All,S92000003
97,2017,T,"Rate per 100,000 people","Rate per 100,000 persons",20,19,21,deaths,All,S92000003
98,2017,F,Deaths,Count,331,,,deaths,All,S92000003
99,2017,F,"Rate per 100,000 females","Rate per 100,000 persons",11,10,12,deaths,All,S92000003
100,2017,M,Deaths,Count,789,,,deaths,All,S92000003
101,2017,M,"Rate per 100,000 males","Rate per 100,000 persons",30,28,32,deaths,All,S92000003